@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto+Slab:wght@400;700&display=swap');

// FONTS
$font-roboto: 'Roboto Slab', sans-serif;
$font-caprasimo: 'Caprasimo', cursive;

// COLOURS
$color-white: #ebe7ef;
$color-black: #000;
$color-primary: #f8ca31;
$color-primary-light: #c3ba78;

